<div class="max-w-sm bg-white flex flex-col h-screen justify-between">
    <!-- Header -->
    <div class="flex flex-col w-full h-32 p-8">
        <div class="flex flex-row justify-between">
            <div>
                <img class="h-8 w-8 rounded-full" [src]="imagePath" alt="">
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                </svg>
            </div>
        </div>
        <div class="pt-8 font-bold text-lg">
            Hi, {{ name }}!
        </div>
    </div>
    <!-- Body -->
    <div class="flex flex-col w-full px-8 justify-center items-center flex-grow pb-20">
        <div>
            <img src="assets/dashboard/member-card.svg" alt="">
        </div>

        <div class="pt-8 font-bold text-lg self-start w-full">
            For you
            <div class="flex flex-row justify-between">
                <div class="flex flex-col w-40 h-40 bg-cover bg-dashboard-flight rounded-3xl justify-end m-2">
                    <div class="flex flex-row bg-custom-200 w-full h-1/3 opacity-70 rounded-b-3xl items-center justify-center">
                        <span class="text-center">
                            Add <br />Flight
                        </span>
                    </div>
                </div>
                <div class="flex flex-col w-40 h-40 bg-cover bg-dashboard-hotel rounded-3xl justify-end m-2">
                    <div class="flex flex-row bg-custom-200 w-full h-1/3 opacity-70 rounded-b-3xl items-center justify-center">
                        <span class="text-center">
                            Add <br />Hotel
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-8 font-bold text-lg self-start w-full">
            Your Itinerary
            <img src="assets/dashboard/blr-del.svg" alt="">
        </div>
    </div>
    <!-- Footer -->
    <div class="max-w-sm flex flex-row flex-wrap h-20 w-screen content-between justify-around bg-custom-100 text-custom-200 fixed bottom-0">
        <button routerLink="/dashboard" class="p-6 text-custom-900">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
            </svg>
        </button>
        <button routerLink="/flights" class="p-6">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 5v2m0 4v2m0 4v2M5 5a2 2 0 00-2 2v3a2 2 0 110 4v3a2 2 0 002 2h14a2 2 0 002-2v-3a2 2 0 110-4V7a2 2 0 00-2-2H5z" />
            </svg>
        </button>
        <button routerLink="/settings" class="p-6">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
        </button>
    </div>
</div>