<div class="max-w-sm bg-white flex flex-col h-screen items-center justify-center">
    <div *ngIf="clickedStatus">
        <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)"></webcam>
    </div>
    <div id="snap-wrapper" *ngIf="!clickedStatus">
        <img id="snap" [src]="webcamImage.imageAsDataUrl" />
    </div>

    <div *ngIf="!clickedStatus" class="flex flex-row mt-4 max-w-sm w-10/12">
        <div class="max-w-sm w-2/12 h-14 mr-2">
            <button (click)="reset()" class="rounded-3xl w-full h-full bg-gray-700 flex flex-row content-around justify-center items-center">
                <span class="text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                    </svg>
                </span>
            </button>
        </div>
        <div class="max-w-sm w-10/12 h-14">
            <button (click)="continue()" class="rounded-3xl w-full h-full bg-gray-700 flex flex-row content-around justify-center items-center">
                <span class="text-white">Continue</span>
            </button>
        </div>
    </div>

    <div *ngIf="clickedStatus" class="max-w-sm m-4 w-10/12 h-14">
        <button (click)="clickPhoto()" class="rounded-3xl w-full h-full bg-gray-700 flex flex-row content-around justify-center items-center">
            <span class="flex flex-row text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                &nbsp;&nbsp;&nbsp;&nbsp;Click</span>
        </button>
    </div>
</div>