<div class="max-w-sm w-96 bg-white flex flex-col h-screen justify-between">
    <!-- Header -->
    <div class="flex flex-col w-full h-32 p-8">
        <div class="font-bold text-2xl text-center">
            Passport Details
        </div>
    </div>
    <!-- Body -->
    <div class="flex flex-col w-full bg-white items-center flex-grow pb-20">
        <div class="font-bold pt-8 text-xl text-left text-custom-900">
            Please enter your Passport Details
        </div>
        <div class="p-4 max-w-sm m-4 w-full">
            <label for="email" class="block text-lg font-medium text-gray-700">Passport Number</label>
            <div class="mt-1">
                <input type="text" name="email" id="email" class="p-4 w-full h-14 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block text-lg border-gray-300 rounded-2xl bg-custom-100" placeholder="ABC1234" />
            </div>
        </div>
        <div class="mt-2">
            <div type="button" class="block w-full border-2 border-gray-300 border-dashed rounded-lg p-4 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <svg class="mx-auto h-12 w-12 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                </svg>
                <span class="mt-2 block text-sm font-medium text-gray-900">
                    Upload Front
                </span>
                <input type="file" id="front" name="front" class="">
            </div>
        </div>
        <div class="mt-2">
            <div type="button" class="block w-full border-2 border-gray-300 border-dashed rounded-lg p-4 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <svg class="mx-auto h-12 w-12 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                </svg>
                <span class="mt-2 block text-sm font-medium text-gray-900">
                    Upload Back
                </span>
                <input type="file" id="back" name="back" class="">
            </div>
        </div>
        <div class="max-w-sm m-4 w-10/12 h-14">
            <button class="rounded-3xl w-full h-full bg-gray-700 flex flex-row content-around justify-center items-center">
                <span class="flex flex-row text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                    &nbsp;&nbsp;&nbsp;&nbsp;Upload</span>
            </button>
        </div>
    </div>
    <!-- Footer -->
    <div class="max-w-sm flex flex-row flex-wrap h-20 w-screen content-between justify-around bg-custom-100 text-custom-200 fixed bottom-0">
        <button routerLink="/dashboard" class="p-6">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
        </button>
        <button routerLink="/flights" class="p-6 text-custom-900">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
                <path d="M2 6a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 100 4v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2a2 2 0 100-4V6z" />
            </svg>
        </button>
        <button routerLink="/settings" class="p-6">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
        </button>
    </div>
</div>