<div class="flex flex-col h-screen w-screen bg-no-repeat bg-cover bg-weclome-2">
    <div class="h-1/2 w-full bg-transparent ">
    </div>
    <div class="flex flex-col justify-center items-center h-1/2 w-full bg-white rounded-t-3xl">
        <div>
            <img src="assets/logo/adani.png">
        </div>
        <div class="pb-6">
            <span class="text-4xl font-bold">Fly With Us</span>
        </div>
        <div class="text-center font-normal">
            <span>Enjoy seamless travel with</span><br />
            <span>Digital Identity, which is efficient</span><br />
            <span>and secure.</span>
        </div>
        <div class="m-4 max-w-sm w-10/12 h-14">
            <button class="rounded-3xl w-full h-full bg-blue-50 flex flex-row content-around justify-center items-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="">
                <span>&nbsp;&nbsp;&nbsp;&nbsp;Login with Google</span>
            </button>
        </div>
        <div>
            <span class="text-gray-400">Don’t have any account?&nbsp;&nbsp;</span>
            <a href="" class="text-blue-800">Sign Up</a>
        </div>
    </div>
</div>